# Actividad en clase 03

## Santiago Padillla Arias EXP:750985 Fecha: 22/08/2024

1. Toma el archivo datosCT.xlsx y

- Calcula la Utilidad (Ingreso - Gasto)

In [53]:
import pandas as pd

datos = pd.read_excel("datosCT.xlsx")
datos["Utilidad"] = datos["Ingreso"] - (datos["Gasto"])
datos

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

   - Encuentra el promedio de Gastos en los meses que la Utilidad fue negativa

In [70]:
import pandas as pd

datos = pd.read_excel("datosCT.xlsx")
datos["Utilidad"] = datos["Ingreso"] - (datos["Gasto"])
UtilidadNegativa = datos[datos["Utilidad"]<0]
import numpy as np
promedio = np.average(UtilidadNegativa["Gasto"])
promedio

2517.1428571428573

   - Encuentra los ingresos totales del aÃ±o

In [59]:
import numpy as np
np.sum(datos["Ingreso"])

28020

2. Crea las siguientes estructuras usando numpy:

A= 1 2
   3 4
    
b=  2
    4

In [1]:
import numpy as np   # Libreria para usar matematicas en python

a = np.array([
    [1,2],
    [3,4]
])
b = np.array([
    [2],
    [4]
])

a @ b

array([[10],
       [22]])